<h1>Task Timer</h1>
<hr>
<% @tasks.each do |task| %>
  <p><%= task.name %> (<%= task.total_time %>)
		<% if task.running != true %>
	    <%= button_to "Start", tasks_start_path(:id => task.id) %>
		<% else %>
		  <%= button_to "Stop", tasks_stop_path(:id => task.id) %>
		<% end %>
	</p>
	<hr>
<% end %>

<%= link_to "Add a task", new_task_path %>